aws_access_key  = "..."
aws_secret_key  = "..."
aws_private_key = "/home/.ssh/id_rsa"
aws_public_key  = "/home/.ssh/id_rsa.pub"
aws_region      = "us-east-1"
aws_az          = "us-east-1a"
core_node_size  = "small"
